



<div class="col-md-3 profilesize">
 <div class="top1_a">

   <div class="top1_imageline">
    <%= attachment_image_tag @user, :user_image, :fill, 100, 100, format: 'jpeg', class: "top1_image", fallback: "no-image.jpeg", size:"100x100" %>
   </div>
    <p class="top1_textcolor">@<%= @user.name %></p>
    <p class="top1_textcolor1"><%= @user.profile %></p>
    <div class="top1_profilefollow">
     <table class="top1_profilefollow2">
      <tr>
        <th class="top1_profilefollow3">フォロー</th>
        <th class="top1_profilefollow3">フォロワー</th>
        <th class="top1_profilefollow3">いいね</th>
      </tr>
      <tr>
        <td class="top1_profilefollow4"><%= link_to @user.followed_users.count, follow_p_path(@user), class: "top1_profilefollow5" %></td>
        <td class="top1_profilefollow4"><%= link_to @user.followers.count, followed_p_path(@user), class: "top1_profilefollow5" %></td>
        <td class="top1_profilefollow4"><%= @mytopicnice.count + @mychatnicetwo.count %></td>
      </tr>
     </table>
    </div>




   <div class="user_ranking">
    <p class="user_ranking2">最近始めたユーザー</p>
     <% @user_ranking.each do |ranking| %>
      <div class="top1_image_a">
       <%= attachment_image_tag ranking, :user_image, :fill, 50, 50, format: 'jpeg', class: "top1_image", fallback: "no-image.jpeg", size:"50x50" %>
        <span>@<%= link_to ranking.name, user_path(ranking), class: "user_ranking3" %></span>
        <% if current_user.following?(ranking) %>
         <%= link_to "フォロー中", follow_path(ranking), class: "user_ranking4 test" %>
          <% else %>
         <%= link_to "フォローする", follow_path(ranking), class: "user_ranking4 test" %>
          <% end %>
      </div>
     <% end %>
   </div>
 </div>

</div>





<div class="col-md-6">
 <div class="top2_a">
  <p class="midashi1">トピック</p>
   <div class="takasa">
    <%= form_for(@topic) do |f| %>
     <div class="col-md-12">
      <%= f.text_field :title, autocomplete: 'off', placeholder: "トピックを作る", class: "form-control " %>
     </div>
      <%= f.submit 'トピックを作る', class: "btn outline btn-success test" %>
    <% end %>
   </div>




  <div class="top2_b">
      <% @topics.each do |topic| %>
      <p class="top2_99 clearfix">
          <div class="tenken">
           <%= attachment_image_tag topic.user, :user_image, :fill, 50, 50, format: 'jpeg', class: "top1_c", fallback: "no-image.jpeg", size:"50x50" %>
            </div>
          <span class="tenken2">
          <%= link_to topic.user.name, user_path(topic.user), class: "textcolor2" %>：<%= topic.created_at.to_formatted_s(:without_second) %>
          <br>
          <span class="tenken3">
          <%= link_to topic.title, topic_path(topic.id), class: "textcolor2" %>(<%= topic.chats.count %>)
      <% if !Favorite.exists?(user_id:current_user.id, topic_id: topic.id) %>
       <%= link_to "", topic_add_path(topic), method: :topic, class: "glyphicon glyphicon-heart-empty heart1" %>
      <% else %>
       <%= link_to "",topic_add_path(topic),method: :delete, class: "glyphicon glyphicon-heart heart" %>
      <% end %>
      </span>
      </span>
      </p>
     <% end %>
  </div>
 </div>
</div>
















<div class="col-md-3">
 <div class="top3_a">
  <p class="midashi1">人気のトピック</p>
    <% @chatsranking.each do |rankingtopic| %>
    <p class="top3_title">
      <span class="jikan">@<%= link_to rankingtopic.user.name, user_path(rankingtopic.user), class: "textcolor2" %>：<%= rankingtopic.created_at.to_formatted_s(:without_second) %></span>
      <br>
      <strong class="top3_body">
       <%= link_to rankingtopic.title, topic_path(rankingtopic), class: "textcolor3" %>
       (<%= rankingtopic.chats.count %>)
      <% if !Favorite.exists?(user_id: current_user.id, topic_id: rankingtopic.id) %>
       <%= link_to "", topic_add_path(rankingtopic), method: :topic, class: "glyphicon glyphicon-heart-empty heart1" %>
      <% else %>
       <%= link_to "",topic_add_path(rankingtopic),method: :delete, class: "glyphicon glyphicon-heart heart" %>
      <% end %>
      </strong>
    </p>
    <% end %>
 </div>
</div>

<%= render 'users/list3' %>

<style>

html {
  background-color: #E9EAED;
}

.profilesize {
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

.top1_a {
  background-color: #2dcdb5;
}

.top2_a {
  background-color: white;
  height: 100%;
  padding-bottom: 15px;
}

.takasa {
  height: 75px;
}

.top3_a {
  background-color: white;
}

.top1_b {
  background-color: #2dcdb5;
  clear: both;
}

.top1_c {
  border-radius: 50%;
  border: 2px solid #E9EAED;
}

.top1_d {
  padding-left: 10px;
  float: left;
}




.top1_image {
  border-radius: 50%;
}

.top1_imageline {
  text-align: center;
  padding-top: 50px;
}

.top1_textcolor {
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.top1_textcolor1 {
  text-align: center;
  color: white;
  font-size: 12px;
}

.top1_profilefollow {
  padding-left: 35px;
}

.top1_profilefollow2 {
  text-align: center;
  color: white;
}

.top1_profilefollow3 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.top1_profilefollow4 {
  font-size: 20px;
}

.top1_profilefollow5 {
  color: white;
}

.user_ranking{
  padding-top: 30px;
}

.user_ranking2 {
  color: white;
  padding-left: 20px;
}

.user_ranking3 {
  color: white;
}

.user_ranking4 {
  color: white;
}

.top1_image_a {
  padding-left: 10px;
  height: 70px;
}

.top1_username2 {
  padding-left: 10px;
  font-size: 18px;
}

.test {
  float:right;
  margin-top: 10px;
  margin-right: 10px;
}

.btn {
  padding: 4px 4px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn.outline {
  background: none;
}

.btn-success.outline {
  border: 1px solid #2dcdb5; //アウトラインのみのボタンの線の色
  color: #2dcdb5; //アウトラインのみのボタンのテキストの色
}

.btn-success.outline:hover {
  background-color: #2dcdb5;
  color: white;
  border: 2px solid #2dcdb5; //アウトラインのみのボタンの線の色
}

.top2_b {
  clear: both;
}

.top2_99 {
  margin-left: 10px;

}

.tenken {
  float: left;
  padding-left: 10px;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.tenken2 {
  padding-left: 13px;
  margin-top: 5px;
  color: #66757f;
}

.tenken3 {
  padding-left: 13px;
  margin-top: 5px;
  font-size: 17px;
}

.top3_title {
  padding-left: 10px;
}

.textcolor3 {
  color: #2dcdb5;;
}

.top3_body {
  font-size: 15px;
}

.jikan {
  color: #66757f;
}

</style>