

<div class="col-md-2 text-center">

  <p><%= attachment_image_tag @user, :user_image, :fill, 120, 120, format: 'jpeg', class: "image22" %></p>
  <h4>@<%= @myuser.name %></h4>
  <h4>プロフィール</h4>
   <p><%= @myuser.profile %></p>

</div>



<div class="col-md-7">
   <div class="bak">
	<p class="midashi1">フォロワー</p>




<div class="boxContainer">
	<% @user.followers.each do |followers| %>
	<div class="box">
		<div class="col-md-12 text-center">
		<%= attachment_image_tag followers, :user_image, :fill, 95, 95, format: 'jpeg', class: "image22" %>
		<p>@<%= link_to followers.name, user_path(followers), class: "textcolor2" %></p>
     	<% if current_user.following?(followers) %>
	     <%= link_to "フォロー中", follow_path(followers), class: "btn outline btn-success btn-sm" %>
        <% else %>
	     <%= link_to "フォローする", follow_path(followers), class: "btn outline btn-success btn-sm" %>
        <% end %>
	    </div>
	</div>
	<% end %>
</div>

   </div>
</div>

<div class="col-md-3">
 <div class="top1_b">
  <p class="midashi1">最近始めたユーザー</p>


   <% @user_ranking.each do |ranking| %>
    <div class="top1_image_a">
     <%= attachment_image_tag ranking, :user_image, :fill, 50, 50, format: 'jpeg', class: "top1_image" %>
      <strong>@<%= link_to ranking.name, user_path(ranking), class: "textcolor2" %></strong>
     	<% if current_user.following?(ranking) %>
	     <%= link_to "フォロー中", follow_path(ranking), class: "btn outline btn-success btn-sm test" %>
        <% else %>
	     <%= link_to "フォローする", follow_path(ranking), class: "btn outline btn-success btn-sm test" %>
        <% end %>
    </div>
   <% end %>
 </div>
</div>

<%= render 'users/list3' %>


<style>

html {
  background-color: #E9EAED;
}

.bak {
  background-color: white;
}

.image22 {
  border-radius: 50%;
  border: 3px solid white;
}

.top1_image_a {
  padding-left: 10px;
  height: 70px;
}

.top1_image {
  border-radius: 50%;
  border: 2px solid #E9EAED;
}

.test {
  float:right;
  margin-top: 10px;
  margin-right: 10px;
}

.top1_b {
  background-color: white;
  clear: both;
}

.box {
  float: left;
  height: 180px;
  width: 130px;
}

.boxContainer {

}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
  content: "";
  display: table;
}

.boxContainer:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
  zoom: 1;
}


</style>